*.xccheckout
*.xcworkspace
*.DS_Store
xcuserdata/
Pods/
test-reports/
.idea
Build/

DNKitUtils.xcworkspace
DNKitUtils.ipa
fastlane/report.xml

Gemfile.lock 

Sandbox/Sandbox.xcconfig

compile_commands.json